<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bba9b0">  <td>20/04/24 15:14:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01Suscripcion.CloseChrome()[pri:0, instance:test.Test01Suscripcion@2e8a1ab4]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@620261614</td>   <td></td> </tr>
<tr bgcolor="bba9b0">  <td>20/04/24 15:13:38</td>   <td>-35896</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test01Suscripcion.IngresoAmbiente()[pri:0, instance:test.Test01Suscripcion@2e8a1ab4]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@620261614</td>   <td></td> </tr>
<tr bgcolor="bba9b0">  <td>20/04/24 15:14:13</td>   <td>-737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01Suscripcion.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test01Suscripcion@2e8a1ab4]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@620261614</td>   <td></td> </tr>
<tr bgcolor="bba9b0">  <td>20/04/24 15:13:46</td>   <td>-27563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test01Suscripcion.checkAllSerMujerPanama()[pri:1, instance:test.Test01Suscripcion@2e8a1ab4]">checkAllSerMujerPanama</td> 
  <td>main@620261614</td>   <td></td> </tr>
</table>
